<h1>Login</h1>
<form action="/login" action='POST'>
    <div>
        <label for="email">Email</label>
        <input type='email' name='email' id='email' placeholder="Enter E-mail" required>
    </div>
    <div>
        <label for='password'>Password</label>
        <input type='password' name='password' id='password' placeholder="Enter Password" required>
    </div>
    <div>
        <input type="submit" name="Register">
    </div>
</form>
<a href="/register">Register</a>